<html xmlns:th="https://www.thymeleaf.org">
<body>
	<h1>View Photo</h1>
	Title: <span th:text="${title}">name</span>
	<br/>
	<img alt="sample" th:src="*{'data:image/png;base64,'+image}" width="200"/>
	<br/> <br/>
	Title: <span th:text="${title1}">name</span>
	<br/>
	<img alt="sample" th:src="*{'data:image/png;base64,'+image1}" width="200"/>
	<br/> <br/>
	Title: <span th:text="${title2}">name</span>
	<br/>
	<img alt="sample" th:src="*{'data:image/png;base64,'+image2}" width="200"/>
	<br/> <br/>
	<a href="/">Back to home page</a>	
</body>
</html>